<ul>
  <li>
    Name: <%= this_student.name %>
  </li>
  <li>
    Birthday: <%= this_student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= this_student.hometown.capitalize %>
  </li>
</ul>
